$turchese: #0FA3B1;
$azzurro: #B5E2FA;
$sabbia: #EDDEA4;
$arancione: #F7A072;
$biancosporco: #F9F7F3;

.bg-sabbia{
    background-color: $sabbia;
}

.bg-azzurro{
    background-color: $azzurro;
}
.bg-turchese{
    background-color: $turchese;
}

.my-btn-turchese{
    background-color: $turchese;
    color: white;
    &:hover{
        background-color: $azzurro;
    }
}

.my-btn-sabbia{
    background-color: $sabbia;

    &:hover{
        border-color: $sabbia;
    }
}

.my-btn-orange{
    background-color: $arancione;
    color: white;
    &:hover{
        background-color: #b05b2d;
    }
}